.nav {
    width: 100vw;
    margin: 3rem auto;
}

.nav .row {
    margin: auto !important;
}

.nav .row .col-12 {
    margin-bottom: 2rem;
}

.nav .row a {
    text-decoration: None;
    color: blue;
    background: #ffffff;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 11px 13px;
    margin-bottom: 1.1rem
}

.nav .row a:hover {
    color: #ffffff;
    background: blue;
}

.the-form {
    max-width: 800px;
    margin: auto;
    border: 1px solid blue;
    padding: 3rem;
    border-radius: 5px;
}

.the-form input, .the-form textarea {
    border-color: blue;
}

.the-form textarea {
    height: 230px;
}

.the-form input:focus, .the-form textarea:focus {
    box-shadow: unset !important;
}

.dash {
    max-width: 1100px;
}

.dash .posts {
    box-shadow: 1px 3px 7px blue;
    padding: 2rem;
    margin-bottom: 3rem;
}

.dash .posts:hover {
    transform: translate3d(0px, -7px, 3px)
}

.dash .posts .tools a {
    color: #ffffff;
    background: blue;
    padding: 5px 7px;
    border-radius: 5px;
    text-decoration: none;
}